/*adsb.chaos-consulting.de - stylesheet*/
/*page*/
body{
	margin:0px;
	font-family:monospace !important;
}
a{
	color:white;
	text-decoration:none;
}

a[href^="http"]{
	cursor:pointer;
}

[onclick]{
	cursor:pointer;
}

i.ok{
	#color:#0f0;
}

i.warn{
	color:#ff0;
}

i.crit{
	color:#f00;
}
/*sidebar*/

/*tables*/
table.iconTable tbody td:nth-child(1) {
	width: 20px;
	text-align: center;
}

table .left {
	margin: 0px;
	float: left;
}

table .right {
	margin: 0px;
	float: right;
}

#planeHistoryTable tbody td:nth-child(2){
	text-align: center;
}

/*Infotables*/
/*plane*/
#planeStationsTable tbody td:nth-child(2){
	width: 35px;
	text-align: right;
}
#planeStationsTable tbody td:nth-child(3){
	width: 50px;
	text-align: right;
}
#planeStationsTable tbody td:nth-child(4){
	width: 45px;
	text-align: right;
}

/*ship*/
#shipLength{
	width: 110px;
}
#shipWidth{
	width: 110px;
}
#shipLatLon{
	width: 164px;
}
#shipCourse{
	width: 83px;
}

#shipHistoryTable tbody td:nth-child(2){
	text-align: center;
}

#shipStationsTable tbody td:nth-child(2){
	width: 50px;
	text-align: right;
}

#shipStationsTable tbody td:nth-child(3){
	width: 50px;
	text-align: right;
}

#shipStationsTable tbody td:nth-child(4){
	width: 50px;
	text-align: right;
}

#shipStationsTable tbody td:nth-child(5){
	width: 20px;
	text-align: center;
}

/*radiosonde*/
#radiosondeListTable tbody td:nth-child(1){
	width: 60px;
}

#radiosondeListTable tbody td:nth-child(3){
	width: 50px;
	text-align: right;
}

#radiosondeListTable tbody td:nth-child(4){
	width: 50px;
	text-align: right;
}

#radiosondeListTable tbody td:nth-child(5){
	width: 50px;
	text-align: right;
}

#radiosondeListTable tbody td:nth-child(6){
	width: 45px;
	text-align: right;
}

#radiosondeContent{
	overflow: auto;
}

#radiosondeVendor{
	width: 171px;
}

#radiosondePositionTable tbody td:nth-child(2){
	text-align: right;
	width: 81px;
}

#radiosondePositionTable tbody td:nth-child(3){
	text-align: right;
	width: 81px;
}

#radiosondePositionTable tbody td:nth-child(4){
	text-align: right;
	width: 81px;
}

#radiosondePositionTable tbody td:nth-child(5){
	text-align: right;
}

#radiosondePositionTable tbody #radiosondeLatLon{
	width: 171px;
	text-align: center;
}

/*radiosonde history table*/
#radiosondeHistoryTable thead i.fa-chart-column{
	float: right;
}

#radiosondeLaunchsiteName{
	text-align: left !important;
}

#radiosondeFirstcontactTimestamp{
	width: 121px;
}

#radiosondeFirstcontactStation{
	text-align: left !important;
}

#radiosondeHistoryTable tbody td:nth-child(1){
	text-align: center;
	width: 20px;
}

#radiosondeHistoryTable tbody td:nth-child(2){
	text-align: right;
	width: 41px;
}

#radiosondeHistoryTable tbody td:nth-child(3){
	text-align: right;
}

#radiosondeHistoryTable tbody td:nth-child(4){
	text-align: right;
}

#radiosondeHistoryTable tbody td:nth-child(5){
	text-align: right;
}

/*radiosonde prediction table*/
#radiosondePredictionLatLon{
	text-align: center !important;
}
/*
#radiosondeFirstcontactTimestamp{
	width: 121px;
}

#radiosondeFirstcontactStation{
	text-align: left !important;
}*/

#radiosondePredictionTable tbody td:nth-child(1){
	text-align: center;
	width: 20px;
}

#radiosondePredictionTable tbody td:nth-child(2){
	text-align: right;
	width: 120px;
}

#radiosondePredictionTable tbody td:nth-child(3){
	text-align: right;
	width: 120px;
}

#radiosondePredictionTable tbody td:nth-child(4){
	text-align: right;
}

/*radiosonde station table*/
#radiosondeStationsTable tbody td:nth-child(2){
	width: 45px;
	text-align: right;
}

#radiosondeStationsTable tbody td:nth-child(3){
	width: 45px;
	text-align: right;
}

#radiosondeStationsTable tbody td:nth-child(4){
	width: 50px;
	text-align: right;
}

/*launchsites list*/
#launchsiteListTable tbody td:nth-child(2){
	text-align: right;
	width: 75px;
}

#launchsiteListTable tbody td:nth-child(3){
	text-align: right;
	width: 25px;
}

/*launchsite*/
#launchsiteContent{
	overflow:auto;
}

#launchsiteInfoTable tbody td:nth-child(1){
	text-align: center;
	width: 20px;
}

#launchsiteActiveSondesTable tbody td:nth-child(2){
	width: 75px;
}

#launchsiteActiveSondesTable tbody td:nth-child(3){
	width: 60px;
	text-align: right;
}

#launchsiteActiveSondesTable tbody td:nth-child(4){
	width: 125px;
	text-align: right;
}

#launchsiteRecentSondesTable thead i.fa-route{
	float: right;
}

#launchsiteRecentSondesTable tbody td:nth-child(2){
	width: 125px;
	text-align: right;
}

#launchsiteRecentSondesTable tbody td:nth-child(3){
	width: 75px;
	text-align: right;
}


#launchsiteUpcomingSondesTable thead i.fa-route{
	float: right;
}

#launchsiteUpcomingSondesTable tbody td:nth-child(1){
	text-align: center;
	width: 20px;
	font-weight: bold;
}

#launchsiteUpcomingSondesTable tbody td:nth-child(2){
	#width: 125px;
	text-align: right;
}

#launchsiteUpcomingSondesTable tbody td:nth-child(3){
	width: 75px;
	text-align: right;
}


#launchsiteScheduleTable tbody td{
	text-align: center;
}

#launchsiteScheduleTable tbody td:nth-child(1){
	font-weight: bold;
}

#launchsiteScheduleTable tbody td:nth-child(n+2){
	width: 60px;
}

/*station*/
#stationGraphsTable thead i.fa-arrow-up-right-from-square{
	float: right;
}

#stationGraphsTable tbody td{
	height: 300px;
}

/* */
.td_highlighted{
	color: black;
	background: orange;
}

/*graphs big*/
.stationGraphsTimespanButton{
	float: left;
	background: #272b35;
	padding: 10px;
	margin-right: 3px;
	font-size: 20px;
	border-radius: 3px;
	margin-bottom: 10px;
	cursor: pointer;
}

.stationGraphsTimespanButtonActive{
	float: left;
	background: orange;
	padding: 10px;
	margin-right: 3px;
	font-size: 20px;
	border-radius: 3px;
	margin-bottom: 10px;
	cursor: pointer;
}

.overallGraphsTimespanButton{
	float: left;
	background: #272b35;
	padding: 10px;
	margin-right: 3px;
	font-size: 20px;
	border-radius: 3px;
	margin-bottom: 10px;
	cursor: pointer;
}

.overallGraphsTimespanButtonActive{
	float: left;
	background: orange;
	padding: 10px;
	margin-right: 3px;
	font-size: 20px;
	border-radius: 3px;
	margin-bottom: 10px;
	cursor: pointer;
}

.graphSectionGrid{
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
	border-top: solid 1px;
	margin-bottom: 50px;
	clear: left;
#	width: 100%;
#	overflow: hidden;
#	overflow-behavior-x: contain;
#	overflow-behavior-y: auto;
}

.graphSection{
	border-bottom: solid 1px;
	width: 100%;
}

.graphSection canvas:empty{
	display:none;
}

.graphSection h2{
	margin-bottom: 5px;
	text-decoration: underline
}

.graphSection h3{
	margin-bottom: 0px;
}

/*Marker*/
div.stationMarker{
	#color:#0051a0;
	color:#3388ff;
	font-size:20px;
	#text-shadow:3px 3px 3px grey;
	text-shadow:3px 3px 3px blck;
	#opacity:0.75;
}

div.stationMarkerActive{
	color:orange;
	font-size:20px;
	text-shadow:3px 3px 3px black;
	opacity:1;
}

div.airportMarker{
	color:#0051a0;
	font-size:20px;
	text-shadow:3px 3px 3px grey;
	opacity:0.5;
}

/*^^^^^^^^^^^^^^^^^^*/
/******reworked******/
/*------------------*/
/****needs rework****/
 
/*Navigation*/
.navbar#navbarDesktop{
	position:absolute;
	z-index:999;
	margin:4px;
	margin-right:490px;
}
.leftbar#leftbarDesktop{
	position:absolute;
	z-index:999;
	top:50px;
}
[class^=tabbar]{
	z-index:9999;
	position:fixed;
}
.tabbar{
	right:420px;
	top:0px;
}
.tabbarRight{
	right:0px;
	top:0px;
}
/*buttons*/
[class^=button]{
	background:#393f4cd1;
	font-weight:bold;
	padding:10px;
	border-radius:5px;
	text-align:center;
}
.button{
	color:#ffffff;
}
.button:hover{
	color:#2b72d7dd;
}
.buttonWait{
	color: orange;
}
.buttonActive{
	color:#3388ff;
}
.buttonActive:hover{
	color:white;
}
.navbar .button{
	float:left;
	margin:1px;
}
.leftbar [class^=button]{
	margin:5px;
	font-size:24px;
}
#tabbar [class^=button]{
	margin:5px;
	font-size:24px;
}

/*Sidebar*/
.sidebar{
	position:fixed;
	right:0px;
	width:400px;
	height:calc(100% - 20px);
	z-index:999;
	background:#393f4cd1;
	padding:10px;
	overflow:hidden;
	top:0px;
}
.sidebarHidden{
	display:none
}
.sidebar .content{
	height:100%;
	color:#e9eee7;
	overflow:hidden;
	padding:0px;
	display:none;
}

.sidebar .content + h1{
	margin-top:0px;
}

.sidebar .content h1 > i{
	font-size:28px;
	margin-right:10px;
	float: right;
}

#planeContent{
	overflow:auto;
	scrollbar-width:none;
}
#stationContent{
	overflow:auto;
	#scrollbar-width:none;
}
#faqContent{
	overflow:auto;
	scrollbar-width:none;
}
#faqContent h1{
	margin-top:0px;
}
#faqContent h2{
	margin-bottom:0px;
}
#statsContent{
	overflow:auto;
}
/*Picture*/
#planePictureImage{
	width:100%;
}

.stationInfoRefreshIndicator{
	display:none;
}

.minitag{
	margin-right: 3px;
	border-radius: 3px;
	padding: 3px;
	background: #2b72d7;
}

/*Manual Tables*/
/*Table*/
table{
	width:100%;
	margin-bottom: 5px;
}
td{
	padding:5px;
}

.stationInfoIconColumn{
	width:20px;
	text-align: center;
}

#stationPlanes{
	width:80px;
}
#stationPositions{
	width:79px;
}
#stationMlats{
	width:49px;
}
#stationPositionsFalse{
	width:49px;
}
#stationPlanesPositionsUnique{
	width:49px;
}
.topRegistration{
	width:55px;
}
.topFlight{
	#width:50px;
}
.topMmsi{
	width:40px;
}
.topShipname{
	#width:40px;
}
.topCallsign{
	width:55px;
}
.peerName{
	#width:40px;
}
.topRssi{
	width:40px;
	text-align: end;
}
.topDist{
	width:40px;
	text-align: end;
}
.topFix{
	width:10px;
	text-align: end;
}
.peerSyncs{
	width:10px;
	text-align: end;
}
.peerSyncErr{
	width:10px;
	text-align: end;
}
.peerSyncOffset{
	width:10px;
	text-align: end;
}
.peerDistance{
	width:20px;
	text-align: end;
}

/*Tablehead*/
thead{
	background: #2b72d7 !important;
	font-weight: bold;
}

/*Button im Tableheader*/
thead div{
	float:right;
}

/*Tablebody*/
/*Row im Tablebody*/
tbody tr{
	background: #272b35;
}

/*planeInfoTable*/
table#planeInfoTable td:nth-child(2) {
	width: 15%;
}

/*planePositionTable*/
table#planePositionTable td:nth-child(2) {
	width: 69px;
}
table#planePositionTable td:nth-child(3) {
	width: 69px;
}
table#planePositionTable td:nth-child(4) {
	width: 90px;
}

#planeLatLon{
	text-align:center;
}

#planeAltitudeNowMetric{
	text-align: right;
}

#planeAltitudeNow{
	text-align: right;
}

#planeNavAltitudeMcp{
	text-align: right;
}

#planeNavAltitudeFms{
	text-align: right;
}

#planeSpeedNowMetric{
	text-align: right;
}

#planeSpeedNow{
	text-align: right;
}

#planeVertrateNowMetric{
	text-align: right;
}

#planeVertrateNow{
	text-align: right;
}

#planeTrack{
	text-align: right;
}

#planeNavHeading{
	text-align: right;
}

/*planeStationsTable*/
#planeStationsTableBody tr td:last-of-type{
	text-align: center;
	width: 16px;
}

/*Table footer*/
.tabulator-footer{
	display: none;
}

/*picture*/
table img{
	width:100%
}

/*Tabulator Tables*/
.tabulator{
	font-family: monospace !important;
	border: none;
	background-color: #fff0 !important;
	margin-right:2px;
	margin-left:2px;
	border: 0px !important;
}
.tabulator-header{
	background-color: #fff0 !important;
	color: white !important;
	font-weight: bold !important;
	border-bottom: none !important;
	margin-bottom: 2px !important;
}
.tabulator-col{
	background-color: #fff0 !important;
	border-right: none !important;
	#margin-right: 2px !important;
}
.tabulator-sortable{
	background-color: #2b72d7 !important;
}
.tabulator-row{
	background-color: #fff0 !important;
	color: #e9eee7 !important;
}
.tabulator-cell{
	border-right: none !important;
	#margin-right: 2px !important;
	margin-bottom: 2px !important;
	background-color: #272b35 !important;
}
.tabulator-table{
	background-color: #fff0 !important;
}
.tabulator-row .tabulator-row-even{
	background-color: #fff0 !important;
}
.list{
	width:100%;
}
.listheader td{
	background:#2b72d7 !important;
	font-weight:bold;
}
.list td{
	#color:#e9eee7;
	background:#272b35;
	margin:1px;
	padding:2px;
}
.tr_bos{
	color: red;
}
.listType_bos .tabulator-cell{
	color: red !important;
}
.tr_int{
	color: #ff00c3;
}
.listType_int .tabulator-cell{
	color: #ff00c3 !important;
}
.tr_mil{
	color: #0f0;
}
.listType_mil .tabulator-cell{
	color: #0f0 !important;
}



/*Leaflet map*/
#map{
	position:absolute !important;
	width:100%;
	height:100%;
}

.leaflet-control-zoom{
	top: 50px;
	border:0px !important;
	color:#ffffff;
}
.leaflet-control-zoom-in{
	color:#ffffff !important;
	background:#393f4cd1 !important;
	margin:1px;
	font-weight:bold;
	padding:10px;
	border-radius:5px !important;
}
.leaflet-control-zoom-out{
	color:#ffffff !important;
	background:#393f4cd1 !important;
	margin:1px;
	font-weight:bold;
	padding:10px;
	border-radius:5px !important;
}



/*Heatmap Layer*/
.leaflet-heatmap-layer{
	opacity:0.6;
}

/*Icons*/
i.fa-check-circle{
	color:#0f0;
}
i.fa-times-circle{
	color:red;
}
i.fa-caret-up{
	color:#0f0;
	font-size:14px;
}
i.fa-caret-down{
	color:#f00;
	font-size:14px;
}
i.fa-redo-alt{
	font-size:14px;
}
i.fa-undo-alt{
	font-size:14px;
}

/*Filters*/
.filter{
	cursor: pointer;
}
#filterContent{
	overflow: auto;
}
.filterActive{
	background: orange !important;
}
#filterStationList{
	padding: 1px;
	display: inline-block;
}
#filterStationList div{
	background: #272b35;
	float: left;
	margin: 1px;
	padding: 5px;
	cursor: pointer;
}
#filterAltitudeList{
	height:30px;
	text-align: center;
}

.filterAltitude{
	color: #0000;
	cursor: pointer;
}

.filterAltitudeActive{
	color: #000f;
}

.filterAltitudeGauge{
	text-align: center;
}

.filterSlider{
	width: 100%;
}

.container{
	position: relative;
	width: 100%;
	height: 30px;
}

input[type="range"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	outline: none;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	background-color: transparent;
	pointer-events: none;
}
.filterSliderDualTrack{
	width: 100%;
	height: 20px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	#border-radius: 5px;
	background: #393f4cd1;
}
input[type="range"]::-webkit-slider-runnable-track{
	-webkit-appearance: none;
}
input[type="range"]::-moz-range-track{
	-moz-appearance: none;
}
input[type="range"]::-ms-track{
	appearance: none;
}


/*Die Schieber*/
input[type="range"]::-moz-range-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 7px;
	border-radius: 3px;
	pointer-events: auto;
}
input[type="range"]::-ms-thumb{
	appearance: none;
	height: 20px;
	width: 7px;
	border-radius: 3px;
	pointer-events: auto;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 20px;
	width: 7px;
	border-radius: 3px;
	pointer-events: auto;
}

/*Die Anzeige*/
#filterSpeedGauge{
	text-align: center;
}

/*Performancebars*/
.loadbar{
	background: rgba(57, 63, 76, 0.82);
	text-align: center;
}

/*Disable mobile mode Elements*/
.mobile{
	display: none;
}

/*mobile mode*/



/*Navbar*/
.navbar#navbarMobile{
	position: absolute;
	z-index: 99999;
	width:100%;
	background: #2b72d7;
	color: white;
	font-size: 24px;
	padding: 5px;
	text-align:center;
}

.navbar#navbarMobile i{
	font-size:32px;
}

.navbar#navbarMobile .fa-bars{
	float:left;
}

.navbar#navbarMobile a{
	vertical-align:middle;
}

.navbar#navbarMobile .fa-window-close{
	float:right;
	margin-right: 10px;
	#display: none;
}

/*Menue*/
.menue{
	display:none !important;
	position:absolute;
	z-index:99999;
	background: gray;
	width:100%;
	top: 42px;
	bottom:0px;
	grid-template-columns: 1fr 1fr 1fr;
}

.menueButton{
	display: inline-grid !important;
	text-align:center;
	background: #272b35;
	padding: 5px;
	font-size: 14px;
	color: white;
	border: solid 1px gray;
}

.menueButton:hover{
	color: #2b72d7;
}

.menueButton i{
	margin-top: auto;
	display: inline-grid !important;
	font-size: 48px;
}

.menueButton a{
	margin-top: auto;
	margin-bottom: auto;
}

/*Infobox*/
.infobox{
	border: solid 1px #2b72d7;
	background: #2b72d778;
	padding: 10px;
	font-size: 16px;
}

.infobox h1{
	background: #2b72d7;
	padding: 5px;
	font-size: 20px;
	text-align: center;
	margin: -10px;
	margin-bottom: 10px;
}

/*activityIndicator*/
#activityIndicator{
	position: fixed;
	top: 50%;
	right: 50%;
	z-index: 99999;
	font-size: 72px;
	color: orange;
	#background: gray;
	padding: 20px;
	border-radius: 15px;
	#opacity: 0.8;
	display: none;
	animation-name: bcp;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	#animation-direction: alternate;
}

.mlat-compass{
	color: orange;
}

.nomlat-compass{
	color: #b7b7b7;
}

/* fullscreenoverlay */
.centeroverlay{
	display: none;
	position: fixed;
	z-index: 999;
	top: 75px;
	left: 75px;
	background: #393f4cd1;
	padding: 10px;
	border-radius: 5px;
	color: white;
	width: calc(100% - 175px);
	height: calc(100% - 175px);	
}

.centeroverlayClose{
	float: right;
	font-size: 24px;
}

.centeroverlayContent{
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	#width: 100%;
	padding-left: 30px;
	padding-right: 10px;
}

/* corneroverlay */
/* fullscreenoverlay */
#corneroverlay{
	display: none;
	position: fixed;
	z-index: 999;
	bottom: 75px;
	left: 5px;
	color: white;
	min-width: 250px;
	min-height: 50px;
	max-width: calc(100% - 175px);
	max-height: calc(100% - 175px);	
}

.centeroverlay h1{
	text-align: center;
}

.centeroverlay a{
	color: orange;
}

#corneroverlayHeadline{
	padding: 10px;
	background: #2b72d7;
	text-align: center;
	font-weight: bold;
}

.corneroverlayHeadlineCrit{
	background: #f00 !important;
}

#corneroverlayHeadline i{
	float: left;
}

#corneroverlayHeadline i.fa-window-close{
	float: right;
}

#corneroverlayContent{
	padding: 10px;
	border: solid 1px #2b72d7;
	background: #393f4cd1;
}

.corneroverlayContentCrit{
	border: solid 1px #f00 !important;
}

.aboutSectionGrid{
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	border-top: solid 1px;
	margin-bottom: 50px;
}

.aboutSection{
	border-bottom: solid 1px;
}

.aboutSection h2{
	margin-bottom: 5px;
	text-decoration: underline
}

.aboutSection h3{
	margin-bottom: 0px;
}
/*Map*/

/*Modeswitch*/
@media screen and (max-width: 1024px){
	.desktop{
		display: none;
	}

	.mobile{
		display: block;
	}

	/*sidebar*/
	#sidebar{
		width:100%;
		left: 0px;
		padding:0px;
		padding-top:44px;
		#top:50px;
		height: calc(100% - 60px);
		z-index: 9999;
	}
	.centeroverlay{
		display: none;
		position: fixed;
		z-index: 999;
		top: 44px;
		left: 2px;
		background: #393f4cd1;
		padding: 10px;
		border-radius: 5px;
		color: white;
		width: calc(100% - 24px);
		height: calc(100% - 85px);	
	}

}

@keyframes bcp{
	0%{
		color: orange;
	}
	50%{
		color: #2b72d7;
		transform: rotate(180deg);
	}
	100%{
		color: orange;
		transform: rotate(360deg);
	}
}

/* rc3-NOWHERE banner */
@font-face {
  font-family: changa-semibold;
  src: url(../rc3/changa-semibold.ttf);
}

#rc3
{
    display: none;
    position:fixed;
    bottom:90px;
    left:-130px;
    width: 200px;
    height: 100px;
    z-index: 699;
}

#rc3inner
{
    background: url(../rc3/10_Background_desktop_01.jpg);
    text-align: center;
    font-family:changa-semibold;
    font-size: 20px;
    transform: rotate(45deg);
    margin-bottom:auto;
    color: white;
    width: 500px;
}

#rc3logo
{
   width: 100px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
/* tests */
/*.leaflet-tile {*/
.darktile .leaflet-tile{
	filter: brightness(0.5) !important;
}


#attributionMarkers table{
	overflow: auto;
	overflow-x: auto !important;
}
